$primary-color: #65dfc9;
$secondary-color: #6cdbeb;
$h1-color: #426696;
$text-color:#658ec6;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$font-sizes: (
  "sm": 10px,
  "md": 14px,
  "lg": 16px
);
$mobile: 800px;